.column-1 {
  width: 48%;
  display: inline-block;
  border: 1px solid blue;
  background-color: orange;
}
.column-2 {
  width: 50%;
  display: inline-block;
  border: 1px solid red;
  vertical-align: top;
  background-color: yellow;
}

header {
  background-color: pink;
  font-family: Serif;
  font-color: green;
}

header > h1 {
  font-family: Impact;
  text-align: center;

}

header > p

footer {
  background-color: green;
}